html{
    height: 100%;
    font-size: 12px;
}

.btn{
    white-space: nowrap;
    padding: 0.375rem 0.2rem;
}
nav{
    margin-bottom: 10%;
}

.navbarTextColor{
    color: black;
}

.navbarTextColor:hover{
    color: #FFFAFA;
}

@media(max-width: 575px){
  html{
      font-size: 10px;
  }
}
@media(max-width: 300px){
    html{
        font-size: 8px;
    }
}