{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'top.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}
トップページ
{% endblock title %}


{% block header %}
<div class="header-container text-center">
  <h1 class="title">
    <span class='text-primary'>M</span>
    <span class='text-secondary'>u</span>
    <span class='text-success'>l</span>
    <span class='text-danger'>t</span>
    <span class='text-warning'>i</span>
    <span class='text-primary'>g</span>
    <span class='text-success'>l</span>
    <span class='text-danger'>e</span>
  </h1>
  <h4 class="mt-5">プラットフォームを選択してください</h3>
</div>
{% endblock header %}

{% block content %}
<Main>
  <div class="btn-row">
    <a href="#" class="btn btn-dark left-button" role="button" aria-pressed="true">自動検索(実装中)</a>
    <a href="{% url 'twitter' %}" class="btn twitter-blue center-button" role="button" aria-pressed="true">Twitter</a>
    <a href="{% url 'qiita' %}" class="btn yellow-green right-button" role="button" aria-pressed="true">Qiita</a>
  </div>
  <div class="btn-row">
    <a href="{% url 'youtube' %}" class="btn youtube-red left-button" role="button" aria-pressed="true">YouTube</a>
    <a href="{% url 'instagram' %}" class="btn btn-instagram center-button" role="button" aria-pressed="true">Instagram</a>
    <a href="{% url 'hotpepper' %}" class="btn hotpepper-red right-button" role="button" aria-pressed="true">HOTPEPPERグルメ</a>
  </div>
  <div class="btn-row">
    <a href="{% url 'RakutenTravel' %}" class="btn rakuten-travel-green left-button" role="button" aria-pressed="true">楽天トラベル</a>
    <a href="{% url 'RakutenMarket' %}" class="btn rakuten-market-red center-button" role="button" aria-pressed="true">楽天市場</a>
    <a href="{% url 'newsApi' %}" class="btn btn-primary right-button" role="button" aria-pressed="true">スポーツニュース</a>
  </div>
</Main>
{% endblock content %}